#service-groups {
    .sub-service-section {
        .school-registration-form-container .image-container {
            background-image: url("../../../public/assets/serviceGroups/SchoolRegistration.jpg");
        }
        .settlement-job-form-container .image-container {
            background-image: url("../../../public/assets/serviceGroups/SettlemenJob.jpg");
        }
        .international-insurance-form-container .image-container {
            background-image: url("../../../public/assets/serviceGroups/InternationalInsurance.jpg");
        }
    }
}