#service-groups {}

#school-registration {
    .school-registration-form-container .image-container {
        background-image: url("../../../public/assets/serviceGroups/form/SchoolRegistration.jpg");
    }
}

#settlement-job {
    .settlement-job-form-container .image-container {
        background-image: url("../../../public/assets/serviceGroups/form/SettlemenJob.jpg");
    }
}

#international-insurance {
    .international-insurance-form-container .image-container {
        background-image: url("../../../public/assets/serviceGroups/form/InternationalInsurance.jpg");
    }
}