#tag-info-groups {
  .tag-info {
    position: relative;
    top: 0;
    transition: top ease-in-out 0.2s;

    &.pink-container:hover,
    &.blue-container:hover {
      top: -1rem;
    }

    @mixin tagInfoContainerShadow($color) {
      box-shadow: 0px -4px 4px 4px $color, 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    &.pink-container:hover {
      @include tagInfoContainerShadow(#FFF0EF);
    }

    &.blue-container:hover {
      @include tagInfoContainerShadow(#ECF6F6);
    }
  }

  .media-wrap-last {
    margin-bottom: 0 !important;
  }
}