#footer {
    .contact-container {
        .icon-container {
            position: relative;
    
            &::after {
                content: ":";
                font-weight: bold;
                position: absolute;
                right: -0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    
        span,
        a {
            font-weight: bold;
            white-space: nowrap;
        }
    }
}