.selected-news-card {
  opacity: 1;
  transform: scale(1.3);
  z-index: 2;
}

.custom-ellipsis-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
